body {
  background-image: url('/Background/fundoSite.png');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  

}
input,
button {
  padding: 10px;
  width: -webkit-fill-available;
}

.loading {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
}

.loading label {
  font-size: 24px;
}

input[type=email], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}

button {
  background-color: #00003C;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
  font-size: 18px;
}

button:hover {
  opacity: 0.8;
}

.container {
  margin: 200px 3px 30px 780px;/* topo:     margem de 200px */
                          /* direita:  margem de 3px  */
                          /* inferior: margem de 30px */
                          /* esquerda: margem de 78px  */ 
                          width: 300px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.container h1{
  text-align: center;
  color: #363636;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.create-account {
  text-align: center;
  margin-top: 30px;
}


button {
  cursor: pointer;
}

button:active {
opacity: 0.8;
}

button[disabled] {
  opacity: 0.8;
}

button.fab {
  width: 54px;
  height: 54px;
  border-radius: 50px;
  border: none;
  font-size: 24px;
  box-shadow: 2px 2px 2px gray;
}

button.fab.fixed {
  position: fixed;
}

button.fab.bottom {
  bottom: 32px;
}

button.fab.right {
  right: 32px;
}


.clear {
  background: transparent;
  border: none;
  color: #00003C;
}

.outline {
  background: transparent;
  color: #00003C;
  border: none;
}

.error {
  
  color: rgb(255, 0, 0);
  display: none;
} 